<h1>Artists</h1>
<ul>
  <% @artists.each do |a| %>
    <li><%= link_to a.name, artist_path(a) %></li>
    <ol>
      <% artist_songs.each do |s| %>
        <li><%= link_to s.title, song_path(s) %></li>
      <% end %>
    </ol>
  <% end %>
</ul>
